
\.idea/
.DS_Store
logs/image_name.txt
logs/install_log.txt
*.log

Container/teste\.py
kill_containers.sh
redo.sh
Containers/src/pip-delete-this-directory.txt
TODO
Containers/Container/args.txt
Diferenças principais.docx
VirtualMachines/pass.txt
VirtualMachines/args.txt
VirtualMachines/customkey
VirtualMachines/customkey.pub
VirtualMachines/customkey.pub
*.pub
VirtualMachines/customkey.pub
VirtualMachines/customkey.pub
VirtualMachines/customkey.pub
